# Mulitiple Linear Regression

## Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Import dataset

In [2]:
dataset = pd.read_csv('50_Startups.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [3]:
print("X shape: ",X.shape)
print("y shape: ",y.shape)

X shape:  (50, 4)
y shape:  (50,)

In [4]:
pd.DataFrame(X).head()

           0          1          2           3
0   165349.2   136897.8   471784.1    New York
1   162597.7  151377.59  443898.53  California
2  153441.51  101145.55  407934.54     Florida
3  144372.41  118671.85  383199.62    New York
4  142107.34   91391.77  366168.42     Florida

## Encoding categorical data

In [5]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3])],remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [6]:
pd.DataFrame(X).head()

     0    1    2          3          4          5
0  0.0  0.0  1.0   165349.2   136897.8   471784.1
1  1.0  0.0  0.0   162597.7  151377.59  443898.53
2  0.0  1.0  0.0  153441.51  101145.55  407934.54
3  0.0  0.0  1.0  144372.41  118671.85  383199.62
4  0.0  1.0  0.0  142107.34   91391.77  366168.42

## Spliting dataset into training and test set

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=24)

## Training the multiple linear regression

In [9]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

## Predicting the test data

In [10]:
y_pred = model.predict(X_test)

## Score of model

In [14]:
from sklearn.metrics import r2_score
r_squared = r2_score(y_test, y_pred)
print("R Squared: ", np.floor(r_squared * 100))

R Squared:  96.0